@import "tailwindcss";

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --primary-foreground: 210 40% 98%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 213 31% 91%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    /* Premium gradients */
    --gradient-primary: linear-gradient(135deg, var(--color-emerald-500), var(--color-emerald-300));
    --gradient-primary-dark: linear-gradient(135deg, var(--color-emerald-700), var(--color-emerald-800));
    --gradient-primary-light: linear-gradient(135deg, var(--color-emerald-100), var(--color-emerald-50));
    --gradient-primary-repeat: linear-gradient(90deg, var(--color-emerald-500), var(--color-emerald-300), var(--color-emerald-500));
    --gradient-primary-repeat-light: linear-gradient(90deg, var(--color-emerald-200), var(--color-white), var(--color-emerald-200));
  }
}

@layer base {
  body {
    font-family: "Roboto Flex", sans-serif;
    @apply bg-white selection:bg-(--color-emerald-600) selection:text-white;

    @variant dark {
      @apply bg-neutral-900 text-gray-200;
    }
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .container {
    @media (width >= 96rem /* 1536px */) {
      max-width: 80rem /* 1280px */;
    }
  }

  .text-monospace {
    font-family: "Google Sans Code", monospace;
  }

  .text-gradient {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  .bg-gradient {
    background: var(--gradient-primary);

    @variant dark {
      background: var(--gradient-primary-dark);
    }
  }

  .bg-gradient-repeat-transparent {
    background-color: transparent;
    background-size: 200% 200%;

    &:hover {
      background-image: var(--gradient-primary-repeat);
      animation: bg-scroll-x 0.8s linear infinite;
    }
  }

  .bg-gradient-repeat {
    background-color: var(--color-emerald-500);
    background-size: 200% 200%;

    &:hover {
      background-image: var(--gradient-primary-repeat);
      animation: bg-scroll-x 0.8s linear infinite;
    }
  }

  .bg-gradient-repeat-light {
    background-color: white;
    background-size: 200% 200%;
    
    &:hover {
      background-image: var(--gradient-primary-repeat-light);
      animation: bg-scroll-x 0.8s linear infinite;
    }
  }

  .bg-glass-header {
    background: rgb(255 255 255 / 60%);
    backdrop-filter: blur(10px);
    box-shadow: 0px 6px 20px 2px rgb(0 0 0 / 20%);
  }

  .bg-glass {
    background: rgb(51 171 51 / 10%);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .input-checkbox {
    @apply h-4 w-4 shrink-0 rounded-sm border-1 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .input-focus {
    &:focus-visible {
      @apply outline-none ring-emerald-500 ring-4 rounded-sm;
    }
  }

  .typewriter {
    overflow: hidden;
    border-right: 2px solid hsl(var(--primary));
    white-space: nowrap;
    animation: typewriter 3s steps(40, end), blink-caret 0.75s step-end infinite;
  }
}

@keyframes bg-scroll-x {
  0% { background-position: 0%; }
  50% { background-position: -100%; }
  100% { background-position: -200%; }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: hsl(var(--primary));
  }
}

/* Scroll Bar */
/* Custom Scrollbar for Chrome/Edge/Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-image: var(--gradient-primary);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
